@import "tailwindcss";

@layer base {
    :root {
      --brand-teal: 56, 128, 108;   /*065F46*/
      --brand-black: 13 13 13;   /* #0D0D0D */
      --brand-white: 255 255 255; /* #FFFFFF */
      --brand-gray: 117, 117, 117; /* #757575 */
      --brand-bg-blue: bg-white;
      --font-family: 'Raleway', sans-serif;
    }
  
    body {
      font-family: var(--font-family);
      @apply bg-white text-[rgb(var(--brand-black))] overflow-x-hidden;
    }
  
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Nata Sans', sans-serif;
      @apply font-bold text-[rgb(var(--brand-black))];
    }
  
    p {
      font-family: var(--font-family);
      @apply text-[rgb(var(--brand-gray))] leading-relaxed;
    }
  
    ::selection {
      @apply bg-[rgb(var(--brand-teal))] text-white;
    }
  }
  
  @layer components {
    .custom-container {
      max-width: 1400px;       /* max width you want */
      margin-inline: auto;     /* center horizontally */
      padding-inline: 1rem;    /* optional padding on left/right */
    }
  
    /* Background helper */
    .bg-light-blue {
      background-color: rgb(var(--brand-bg-blue));
    }
  } 
  
  /* text-[#4CAFF0]  text-[#A084FF] */
  
  /* --------- Timeline Dot Animation --------- */
  .timeline-dot::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 9999px;
    background: rgba(20, 184, 166, 0.5); /* faded teal */
    animation: ripple 1.8s ease-out infinite;
  }
  
  @keyframes ripple {
    0% {
      transform: scale(1);
      opacity: 0.7;
    }
    100% {
      transform: scale(2.6);
      opacity: 0;
    }
  }